@using it.lucaporfiri.appweb.core.web.ViewModels
@model CreaEventoManualeViewModel
<div class="dashboard-container">
    <section>
        @* L'id del form è fondamentale per il JavaScript *@
        <form id="form-crea-evento" asp-action="CreaEventoManuale" method="post">
            <div asp-validation-summary="ModelOnly" class="validation-summary-errors"></div>
            <div class="form-grid-two-column">
				<div class="form-field full-width">
					<label asp-for="Titolo" class="form-label">Titolo</label>
					<input asp-for="Titolo" class="form-control" />
                    <span asp-validation-for="Titolo" class="validation-error"></span>
				</div>

                <div class="form-field">
                @* Aggiunto margin-bottom *@
                    <label asp-for="TipoEventoSelezionato" class="form-label">Tipo di Evento <span class="required-asterisk">*</span> </label>
                @Html.DropDownListFor(
                m => m.TipoEventoSelezionato,
                        Model.OpzioniTipoEvento,
                        "Seleziona un tipo...",
                        new { @class = "form-control" }
                        )
                    <span asp-validation-for="TipoEventoSelezionato" class="validation-error"></span>
            </div>


            <div class="form-field full-width">
                <label asp-for="Descrizione" class="form-label">Descrizione</label>
                    <textarea asp-for="Descrizione" class="form-control form-control-large" class="form-control"></textarea>
                    <span asp-validation-for="Descrizione" class="validation-error"></span>
            </div>

@*                 <div class="form-field">
                <label asp-for="AtletaSelezionatoId" class="form-label">Atleta</label>
                @Html.DropDownListFor(
                        m => m.AtletaSelezionatoId,
                        Model.OpzioniAtleti,
                        "Seleziona un Atleta...",
                        new { @class = "form-control" }
                        )
                <span asp-validation-for="AtletaSelezionatoId" class="text-danger"></span>
            </div> *@

                <div class="form-field">
                    <label asp-for="DataScadenza" class="form-label">Data Scadenza <span class="required-asterisk">*</span></label>
                    @{

                        var dataScadenzaValue = Model.DataScadenza == DateTime.MinValue ? "" : Model.DataScadenza.ToString("yyyy-MM-dd");
                    }
                    <input asp-for="DataScadenza" type="date" class="form-control" value="@dataScadenzaValue"/>
                    <span asp-validation-for="DataScadenza" class="validation-error"></span>
            </div>

            </div>
        </form>
    </section>
</div>