@using it.lucaporfiri.appweb.core.web.ViewModels
@model SchedaCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Scheda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AtletaId" class="control-label">
                    Atleta <span style="color:red">*</span>
                </label>
                <select asp-for="AtletaId" class="form-control" asp-items="ViewBag.AtletaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome Scheda</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label">Descrizione Scheda</label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInizio" class="control-label">Data Inizio</label>
                <input asp-for="DataInizio" class="form-control" />
                <span asp-validation-for="DataInizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFine" class="control-label">
                    Data Fine <span style="color:red">*</span>
                </label>
                <input asp-for="DataFine" class="form-control" />
                <span asp-validation-for="DataFine" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="FileCaricato" class="control-label">Carica Scheda (PDF o Word)</label>
                <input asp-for="FileCaricato" type="file" class="form-control" />
                <span asp-validation-for="FileCaricato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
