@using it.lucaporfiri.appweb.core.web.ViewModels
@model SchedaAllenamentoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Scheda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Scheda.Id" />
            <div class="form-group">
                <label asp-for="Scheda.Nome" class="control-label"></label>
                <input asp-for="Scheda.Nome" class="form-control" />
                <span asp-validation-for="Scheda.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scheda.Descrizione" class="control-label"></label>
                <input asp-for="Scheda.Descrizione" class="form-control" />
                <span asp-validation-for="Scheda.Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scheda.DataInizio" class="control-label"></label>
                <input asp-for="Scheda.DataInizio" class="form-control" />
                <span asp-validation-for="Scheda.DataInizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scheda.DataFine" class="control-label"></label>
                <input asp-for="Scheda.DataFine" class="form-control" />
                <span asp-validation-for="Scheda.DataFine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scheda.AtletaId" class="control-label"></label>
                <select asp-for="Scheda.AtletaId" class="form-control" asp-items="ViewBag.AtletaId"></select>
                <span asp-validation-for="Scheda.AtletaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
