.status {
    padding: 4px 12px;
    border-radius: 15px;
    font-size: 0.8em;
    font-weight: 700;
    color: white;
}

.status-ok {
    background-color: #2ecc71;
}

.status-scaduto {
    background-color: var(--brand-red);
}

.status-attenzione {
    background-color: var(--warning-color);
}

.status-notdefined {
    background-color: #b0b4ba;
}

.status-personal {
    background-color: orange;
}

.status-corso {
    background-color: cornflowerblue;
}

.status-soloscheda {
    background-color: blueviolet;
}
