@using it.lucaporfiri.appweb.core.web.ViewModels
@model BachecaEventiViewModel
@{
	var titolo = "Bacheca Eventi del " + DateTime.UtcNow.ToString("dd/MM/yyyy");
}
@section Styles {
    <link rel="stylesheet" href="~/lib/dragula/dragula.min.css" />
}
<!DOCTYPE html>
<html lang="it">
<body data-theme="light">

	<div class="dashboard-container">
		<header class="page-header">
			<h2><i class="fas fa-bullhorn"></i> @titolo </h2>
			<div>
				<a href="/Home/Index" class="btn btn-secondary"><i class="fas fa-home"></i> Torna alla Dashboard</a>
			</div>
		</header>

		<section>
            <div class="kanban-board">
                <!-- Colonne -->
                @foreach (var colonnaBoard in Model.Colonne)
                {
                    <div class="kanban-column">
                        <div class="column-header">
                            <h2>@colonnaBoard.Titolo</h2>
                            <span class="task-count">@colonnaBoard.ConteggioTask</span>
                        </div>
                        <div class="column-tasks">
                            <!-- Eventi -->
                            @foreach (var evento in colonnaBoard.Eventi)
                            {
                                @await Html.PartialAsync("_Partial/_TemplateEventoCard", evento)
                            }
                        </div>
                    </div>
                }
            </div>
		</section>
	</div>

</body>
</html>

@section Scripts {
    <script src="~/lib/dragula/dragula.min.js"></script>

    <script type="text/javascript">
        // inizializzazione Dragula 
            document.addEventListener("DOMContentLoaded", function(){
				var colonne = Array.from(document.querySelectorAll('.kanban-column .column-tasks'));
            })
    </script>
}