@using it.lucaporfiri.appweb.core.web.ViewModels
@model BachecaEventiViewModel


<body data-theme="light">

	<div class="dashboard-container">
		<header class="page-header">
			<h2><i class="fas fa-bullhorn"></i> Bacheca Eventi</h2>
			<div>
				<a href="/Home/Index" class="btn btn-secondary"><i class="fas fa-home"></i> Torna alla Dashboard</a>
			</div>
		</header>

		<section>

		</section>
	</div>

</body>